<p id="notice"><%= notice %></p>

<h1>Listing Organizes</h1>
<ol class="breadcrumb">
  <li class="active"><%= link_to('组织架构', organizes_path) %></li>
  <% @parents.each do |parent|  %>

      <li><%= link_to(parent.name, organizes_path(id: parent.id)) %></li>

  <% end %>
  <% if @org.id.present? %>
    <li class="active"><%= @org.name %></li>
  <% end %>
</ol>

<table id="organizes-table" data-source="<%= organizes_path(id: params[:id], format: :json) %>" class="table  table-hover">
  <thead>
    <tr>
      <th>组织名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Organize', new_organize_path %>
<script type="text/javascript">
  $(function() {
    var instance = $.extend(true, {'sSearchPlaceholder': '按 组织名'}, datatable_zh_CN)
    var table = $('#organizes-table').DataTable({
      serverSide: true, //开启服务器模式  默认false
      responsive: {details: false},
      lengthMenu: [ 15, 50, 100 ],
      ajax: $('#organizes-table').data('source'),
      pagingType: 'full_numbers',
      ordering: false, //是否开启排序 默认true
      language: instance,
      info: true, //是否引入 左下角的页面 数量提示
      jQueryUI: false, //是否引入jqueryUI
      lengthChange: true, //是否可切换每页数据量
      paging: true, //是否开启分页 默认true
      processing: true, //是否开启显示处理状态 默认false 数据大时开启
      scrollX: false, //是否水瓶滚动
      //scrollY: '50px', //Y轴滚动
      searching: false, //开启查询
      stateSave: false, //保存也面状态
//      lengthMenu: [ 10, 25, 50, 75, 100 ],
      stripe: true
//      columnDefs: [
//        {
//          targets: 3,
//          render: function(data, type, row) {
      <!--<%# if can? :manage, Instance %>-->
//            return data;
      <!--<%# else %>-->
//            return "";
      <!--<%# end %>-->
//          }
//        }
//      ]
    });
  });
</script>
