<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="用户">
    <Table>
      <Row>
      <Cell><Data ss:Type="String">姓名</Data></Cell>
      <Cell><Data ss:Type="String">邮箱</Data></Cell>
      <Cell><Data ss:Type="String">QQ</Data></Cell>
      <Cell><Data ss:Type="String">年龄</Data></Cell>
      <Cell><Data ss:Type="String">地址</Data></Cell>
      </Row>
      <% User.all.each do |record| %>
          <Row>
            <Cell><Data ss:Type="String"><%= record.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= record.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= record.qq %></Data></Cell>
            <Cell><Data ss:Type="String"><%= record.age %></Data></Cell>
            <Cell><Data ss:Type="String"><%= record.address %></Data></Cell>
          </Row>
      <% end %>
    </Table>
    </Worksheet>

  <Worksheet ss:Name="组织架构">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">组织名</Data></Cell>
      </Row>
      <% Organize.all.each do |record| %>
          <Row>
            <Cell><Data ss:Type="String"><%= record.name %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>

</Workbook>